extends layout

block content
    h1= title
    p Welcome to #{title}

    div(id='tab')
        button(class='tablinks' onclick="changeTab( 'View' )" id='defaultOpen') View
        button(class='tablinks' onclick="changeTab( 'Add' )") Add
    div(id='View' class='tabcontent')
        //include includes/view
        div(class='container')
            each val in file
                .picpreview
                    h1= val.title
                    br
                    img(src=val.thumbnail)
                    br
                    p= val.details
                    br
                    button( onclick="openmodal('" + val.id + "')") open
                    button( onclick="deleteFile('" + val.id + "')") delete



    div(id='Add' class='tabcontent')
        h3 New image
        //include includes/add
        form(id="picForm")
            div(class="form-group")
                label(for="category") Category
                br
                input(type="text" class="form-control" id="category" name="category" placeholder="Enter category")
            div(class="form-group")
                label(for="title") Title
                br
                input(type="text" class="form-control" id="title" name="title" placeholder="Enter title")
            div(class="form-group")
                label(for="details") Details
                br
                textarea(class="form-control" id="details" name="details" rows="3")
            div(class="form-group")
                input(type="hidden" name="coordinates" value='{"lat": 60.2196781, "lng": 24.8079786}')
            div(class="form-group")
                label(for="file") Image
                br
                input(type="file" class="form-control-file" id="file" aria-describedby="imageHelp" )
                small(id="imageHelp" class="form-text text-muted") Add image
                br
            button(type='submit' class="btn btn-primary") Submit


    div(id='modal' class='modal')
        span(id='close')
        h2(id='modal-header') Modal header
        div(id='modal-content')
            img(id='modal-image' src="http://placekitten.com/2039/1920")
            div(id='modal-map')
        button(id='close-button') Close
    script(src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBTjil-F5qYUEeuhIWQ6zty8sOoICT5AgU&callback=initMap" async
    defer)
    script(src='javascripts/myscript.js')
